/*******************************************************************************************************************************************************************************************************\

                                           DO NOT TOUCH THIS CODE

\********************************************************************************************************************************************************************************************************/

/*
<==========================================>
#Contents
<==========================================>
1.  Global
2.  Reset

*/

/***********************************************************************************************\
#1. Gloabal
\***********************************************************************************************/

body {
  font-family: $site-font, Arial, sans-serif;
}

.chevron::before {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

//## BUTTONS
.primary-button {
  background-color: $primary-color;
  color: #fff;
  border: 1px solid $primary-color;

  &.active {
    background-color: $primary-color !important;
    color: #fff;
    border: 1px solid $primary-color !important;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: #fff;
    box-shadow: 0px 5px 8px rgba($primary-color, 0.49) !important;
    background-color: darken($color: $primary-color, $amount: 6%) !important;
    border-color: darken($color: $primary-color, $amount: 6%) !important;
  }

  &.remove-focus-effect {

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      color: $primary-color;
      box-shadow: none !important;
      background-color: #fff !important;
    }
  }

  &:disabled,
  &.disabled,
  &.inactive {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }

  &--outline {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $primary-color !important;
      border-color: $primary-color !important;
      box-shadow: none !important;
    }
  }
}

.secondary-button {
  background-color: $secondary-color;
  color: #fff;

  &:hover,
  &:focus,
  &:focus-visible {
    background: darken($color: $secondary-color, $amount: 5%);
    color: #fff;
    box-shadow: 0px 5px 8px rgba(15, 33, 79, 0.58) !important;
  }

  &:disabled,
  &.disabled {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

//## BUTTONS

//##ANCHOR TAGS
a{
  color: $secondary-color;
}

//## HIDE SCROLLBARS
.hide-scrollbar {

  // -webkit- (Chrome, Safari, newer versions of Opera):
  &::-webkit-scrollbar {
    width: 0 !important
  }

  // -moz- (Firefox):
  overflow: -moz-scrollbars-none;

  // -ms- (Internet Explorer +10):
  -ms-overflow-style: none;
}




//## PREVENTING TEXTAREA FROM RESIZING
textarea {
  resize: none;
}



/*******************************************************************************************************************************************************************************************************\

                                           END OF DO NOT TOUCH THIS CODE

\********************************************************************************************************************************************************************************************************/